.env
.idea/
.vscode/
*.log
.DS_Store

app/vendor/
.phpunit.result.cache

runtime/logs/*
runtime/cache/*
runtime/tmp/*
!runtime/logs/.gitkeep
!runtime/cache/.gitkeep
!runtime/tmp/.gitkeep

# Project exclude paths
/runtime/